@tailwind base;

@tailwind components;

@tailwind utilities;

/* Styling på buttons */
.btn{
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue{
    @apply bg-mörkblå text-red; /* använd @apply för att lägga till 
    tailwind classer och vanlig css för att använda vanliga css klasser.*/
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 656px 1fr;
   
}

@media only screen and (max-width: 1024px) {

    .column-2{
        padding-left: 100px;
        padding-right: 100px;
    }
} 
@media only screen and (max-width: 640px) {

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 556px 1fr;
        grid-template-rows: 900px 900px 900px auto;
    }
} 

.btn-page-one{
    width: 220px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #7678ED;
    border-radius: 1000px;
    }

#questionButton{
    width: 156px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 14px, 32px, 14px, 32px;
    border-radius: 1000px;
    color: #7678ED;
    border: 2px solid #7678ED;
    text-align: center;
}


.btn-page-third-yes{
    width: 84px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 14px, 32px, 14px, 32px;
    border-radius: 1000px;
    color: white;
    border: 2px solid white;
    text-align: center;
    margin-right: 24px;
}

.btn-page-third-no{
    width: 84px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 14px, 32px, 14px, 32px;
    border-radius: 1000px;
    color: white;
    border: 2px solid white;
    text-align: center;
}

.btn-page-fourth-gray{
    width: 40px;
    height: 32px;
    background: #EEEEEE;
    border-radius: 100px;
}

.btn-page-fourth-green{
    width: 40px;
    height: 32px;
    background: #00FFC4;
    border-radius: 100px;
}
.btn-page-fourth{
    width: 160px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #7678ED;
    border-radius: 1000px;
    }


.progress-bar{
    position: relative;
}

.progress-button{
    position: absolute;
    width: 116px;
    height: 14px;
    left: 0px;
    top: 0px;
    background: #000064;
    border-radius: 10px;
}


.progress-button-white{
    position: absolute;
    width: 116px;
    height: 14px;
    left: 0px;
    top: 0px;
    background: white;
    border-radius: 10px;
}

.center-y{
    bottom: 50%;
    transform: translateY(-50%);
}

