@tailwind base;

@tailwind components;

@tailwind utilities;

/* Styling på buttons */
.btn{
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue{
    @apply bg-mörkblå text-red; /* använd @apply för att lägga till 
    tailwind classer och vanlig css för att använda vanliga css klasser.*/
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
   
}
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
}


@media only screen and (max-width: 1024px) {

    .column-2 {
        padding-left: 100px;
        padding-right: 100px;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr 700px 1fr;
    }
} 
@media only screen and (max-width: 640px) {

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 400px 1fr;
        grid-template-rows: 600px 600px 600px auto;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr 500px 1fr;
    }
} 

.btn-page-one {
    width: 220px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: 1000px;
    }

#questionButton {
    width: 156px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 14px, 32px, 14px, 32px;
    border-radius: 1000px;
    border: 2px solid #7678ED;
    text-align: center;
}


.btn-page-third-yes {
    width: 84px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 14px, 32px, 14px, 32px;
    border-radius: 1000px;
    border: 2px solid white;
    text-align: center;
    margin-right: 24px;
}

.btn-page-third-no {
    width: 84px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 14px, 32px, 14px, 32px;
    border-radius: 1000px;
    border: 2px solid white;
    text-align: center;
}

.btn-page-fourth-gray {
    width: 40px;
    height: 32px;
    border-radius: 100px;
}

.btn-page-fourth-green {
    width: 40px;
    height: 32px;
    background: #00FFC4;
    border-radius: 100px;
}
.btn-page-fourth {
    width: 160px;
    height: 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: 1000px;
    }

.progress-bar {
    position: relative;
}

.progress-button {
    position: absolute;
   
    height: 14px;
    left: 0px;
    top: 0px;
    background: #000064;
    border-radius: 10px;
}


.progress-button-white {
    position: absolute;
    width: 116px;
    height: 14px;
    left: 0px;
    top: 0px;
    background: white;
    border-radius: 10px;
}

.center-y{
    bottom: 50%;
    transform: translateY(-50%);
}

.huvudrubrik {
    animation: textzoom 800ms linear 1s ease-in;
}

@keyframes textzoom {

    0%{
      color: rgb(138, 25, 142);
   
    }
    30%{
        letter-spacing: 25px;
     
    }
    85%{
        letter-spacing: 8px;
      
    }
}


/*
0%{
    font-size: 10px;
}
100%{
    font-size: 50px;

}
*/